<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socket Chat!</title>
</head>
<body>
<div id="message"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/client.js"></script>
</body>
</html>